:root{
    /* Color styles */
    --Black: rgba(0, 0, 0, 1);
    --White: rgba(255, 255, 255, 1);
    --BG-LM: rgba(234, 228, 212, 1);
    --BG-DM: rgba(54, 57, 79, 1);
    --Yellow: rgba(226, 158, 92, 1);
    --Yellow-LM: rgba(226, 158, 92, 0.15);
    --Yellow-DM: rgba(226, 158, 92, 0.4);
    --Green: #c2d07c;
    --Green-LM: rgba(194, 208, 124, 0.15);
    --Green-DM: rgba(194, 208, 124, 0.4);
    --Red: rgba(206, 79, 97, 1);
    --Red-LM: rgba(206, 79, 97, 0.1);
    --Red-DM: rgba(206, 79, 97, 0.4);
    --Pink: rgba(216, 119, 155, 1);
    --Pink-LM: rgba(216, 119, 155, 0.1);
    --Pink-DM: rgba(216, 119, 155, 0.4);
    --Purple: rgba(117, 125, 193, 1);
    --Purple-LM: rgba(117, 125, 193, 0.1);
    --Purple-DM: rgba(117, 125, 193, 0.4);
    --Blue: rgba(125, 157, 184, 1);
    --Blue-LM: rgba(125, 157, 184, 0.15);
    --Blue-DM: rgba(125, 157, 184, 0.4);
    --Orange: rgba(217, 90, 68, 1);
    --Orange-LM: rgba(217, 90, 68, 0.1);
    --Orange-DM: rgba(217, 90, 68, 0.4);


    /*Spacing variable*/
    --Rythm: 1rem;
}