.button {
    background-color: var(--Black);
    color: var(--White);
    display: inline-block;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.line {
    height: 1px;
    background-color: var(--BG-DM);
    margin: calc(var(--Rythm)*2.375) var(--Rythm) 0;
}

.img{
    background-size: cover;
}