footer{
    height: 100vh;
    padding: var(--Rythm);
    margin-top: calc(2.375*var(--Rythm));
    background-color: var(--Black);
    color: var(--White);
    position: relative;


    a{
        color: var(--White);
        font-weight: normal;
        min-width: 44px;
        padding: var(--Rythm) 0 var(--Rythm);
    }

    nav{
        margin-bottom: calc(2 * var(--Rythm));
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    aside{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;

        width: 60px;
        height: 100%;

        padding: calc(2*var(--Rythm)) var(--Rythm) var(--Rythm) 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;


        a{
            padding: var(--Rythm) 0 var(--Rythm) var(--Rythm) ;
            margin: 0;
        }

    }

    p{
        text-transform: uppercase;
        padding: calc(3* var(--Rythm)) 0 calc(0.5 * var(--Rythm));
    }
}
