footer{
    height: 100vh;
    padding: var(--Rythm);
    margin-top: calc(2.375*var(--Rythm));
    background-color: var(--Black);
    color: var(--White);
    position: relative;


    a{
        color: var(--White);
        font-weight: normal;
        min-width: 44px;
        padding: var(--Rythm) 0 var(--Rythm);


        &:last-of-type{
            margin-bottom: calc(-.5*var(--Rythm));
        }
    }

    nav{
        margin-bottom: calc(2 * var(--Rythm));
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    aside{
        position: absolute;
        right: 0;
        bottom: calc(2.5 * var(--Rythm));

        width: 50px;

        display: flex;
        justify-content: right;

        text-align: right;

        a{
          padding: var(--Rythm);
          min-width: auto;
        }
    }

    p{
        text-transform: uppercase;
        padding: calc(3* var(--Rythm)) 0 calc(0.5 * var(--Rythm));
    }
}
