header{
    padding: calc(0.75*var(--Rythm));
    background-color: #E3E3E3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    p{
        text-transform: uppercase;
    }

    a{
        color: var(--Black);
        width: 44px;
        height: 44px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
}