.stats1{

    div{
        padding: 0 var(--Rythm);
        margin: calc(1.5 * var(--Rythm)) 0;

        p, h1{
            margin: 0;
            text-transform: uppercase;
        }

        .line2{
            margin: calc(0.375 * var(--point_16)) 0;
        }
    }
 
    aside{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #EAEAEA;
        padding: var(--Rythm);

        img{
            width: 70%;
            margin-bottom: var(--Rythm);
        }

        table{
            border-collapse: collapse;
            tr{
                border-bottom: 1px solid #C0C0C0;;
                
                td{
                    padding: var(--Rythm) calc(0.5*var(--Rythm));

                    &:first-of-type{
                        padding-right: var(--Rythm);
                        font-weight: 700;
                        font-size: var(--point_16);
                    }
                }
            }
        }
    }
}