.books2{

    img{
       width: 100%;
       display: block;
       margin: auto;
    }

    span{
        font-size: var(--button_text);
        line-height: 0;
    }

    .line{
        margin: calc(0.25*var(--Rythm)) 0;
    }

    h2{
        margin-top: 0;
        line-height: 2.5rem;
    }

    article{
        padding: 0 var(--Rythm);
        margin-bottom: calc(6.875*var(--Rythm));

        &:first-of-type{
            margin-top: calc(3.5*var(--Rythm));
        }

        .button{
            width: 100%;
        }

        .top-margin-larger{
            margin-top: var(--Rythm);
        }
    }
}