.button {
    background-color: var(--Black);
    color: var(--White);
    display: inline-flex;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
}